body{
    background-color:   hsl(148, 38%, 91%);
    width: 1240px;
    display: flex;
    align-items: center;
   justify-content: center;
    height: 100vh;
}
label{
    font-size: 16px;
}
input{
    padding: 10px;
    border-radius: 10px;
}
button{
    padding: 10px;
    border-radius: 5px;
    border: 0;
    color: white;
    font-size: 13px;
}


.container{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
    padding: 20px;
    border-radius: 15px;
    border: 0;
}
.name{
    display: flex;
    gap: 10px;
}
.john{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;

}


.query{
    display: flex;
    gap: 10px;
 
}
.gen{
    width: 100%;
    display: flex;
}
.gen>button{
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.check{
    display: flex;
    gap: 10px;
}